[package]
name = "explorer"
version = "0.4.2"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
ureq = { workspace = true }
chrono = "0.4.42"
