name: Build and Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    permissions:
      contents: read
    uses: loadnetwork/infra/.github/workflows/reusable-build-redeploy-simple.yml@main
    with:
      image_name: load-atlas
      kube_namespace: business
      runner_labels: '["self-hosted","linux","x64"]'
      wait_for_rollout: true
      delete_old_pods: true
      rollout_timeout: 10m
      rollout_resources: |
        deployment/load-atlas
      cluster_host: ${{ vars.MAIN_CLUSTER_HOST }}
      cluster_username: ${{ vars.MAIN_CLUSTER_USERNAME }}
    secrets:
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      CLUSTER_PASSWORD: ${{ secrets.MAIN_CLUSTER_PWD }}
